
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand img
{
    width:140px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    margin-top: -42px;
}
.navbar-brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10PX;
}
.navbar
{
   padding-top: 50px;
}
.navbar-toggler
{
    border: none !important;
    outline: none !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 1px solid #fff
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    border-bottom: 1px solid #fff
}

.form-control {
    border-radius: 32px;
}

.banner
{
    padding-left: 60px;
    padding-right: 60px;
}
.home-header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image.jpg);
    background-position: center;
    background-size: cover;
}

.__jn__us_tdy p {
    padding: 1px 140px;
}

.banner-text
{
    font-size: 36px;
    color: #fff;
    padding-left: 4%;
    padding-top: 220px;
    padding-bottom: 220px;
}
.banner-text .btn-primary
{
    background-image: linear-gradient(to right, #3636f3,#be43f1);
    border: none !important;
    box-shadow: none !important;
    font-size: 12px;
    padding: 15px 30px;
    margin-top: 10px;
}

.banner {
    background: #7766ffe6 url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    background-blend-mode: multiply;
}

.__content__banner {
    padding: 100px;
}

.tc-ser {
  text-align: center;
}

.tc-ser .fa {
    font-size: 34px;
    color: yellow;
}

.__check-more__btn {
    display: none;
}

.__jn__us_tdy {
    text-align: center;
    color: #fff;
}

.__time__smart__title {
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.__time__smart_subtitle {
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.form {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn_signup {
    padding: 6px 60px;
    border: 1px solid #fff;
    border-radius: 23px;
    color: #fff;
}

.btn_signup:hover {
    text-decoration: none;
    color: #fff;
}

.btn_login:hover {
    text-decoration: none;
    color: #000;
}

.btn_login {
    padding: 6px 60px;
    border: 1px solid #fff;
    border-radius: 23px;
    background-color: #fff;
    color: #000;
    margin-left: 35px;
}

.__rcmd__section__title {
    padding-top: 80px;
    margin-left: -38px;
    margin-bottom: 50px;
}

.__rcmd_title {
    font-size: 32px;
    font-weight: 600;
}
.__rcmd__subtitle {
    color: #808080;
    width: 70%;
}

.card {
    /*margin: 8px;*/
    padding: 0;
    margin-bottom: 18px;
}
.card-sec {
    display: inline-flex;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 12px;
    font-weight: 600;
}

.card-text {
    font-size: 12px;
}

.add_article {
    padding: 10px;
}

.add_article a {
    border: 1px solid gray;
    border-radius: 23px;
}

.person-top {
    position: absolute;
    top: 4%;
    right: 4%;
}

.__rcmd__articles .card {
   margin-right: 22px
}

div.person-top img {
    border-radius: 16px;
}

.__audio {
    padding-top: 50px;
    padding-bottom: 50px;
}

.__audio__card_img {
    background: #0000003b url('../images/article2.jpg');
    background-size: cover;
    height: 135px;
    background-blend-mode: multiply;
}

.__ad__card__body {
    padding-left: 28px;
}

.__ad__cd__title {
    font-size: 22px;
    font-weight: 600;
}

.__ad__cd__text1 {
    font-size: 15px;
    color: #3a3a3a;
}

.__ad__cd__text2 {
    font-size: 15px;
    color: #797979ba;
}

.__playlistbtn {
    border: 1px solid #0000004d;
    padding: 5px 8px;
    color: #3c3c3c;
    border-radius: 6px;
}

.__playlistadd {
    position: absolute;
    top: 50%;
}

.__playlistadd a {
     border: 1px solid #0000004d;
    padding: 5px 8px;
    color: #3c3c3c;
    background-color: #fff;
    border-radius: 6px;
}

.__be__positive {
    position: absolute;
    left: 25%;
    top: 20%;
    padding: 1px 33px;
    background: #0003;
    border-radius: 50px;
}

.__be__positive h3 { 
    font-size: 20px;
    color: #fff;
}

.__new__rules {
    display: inline-flex;
    padding-top: 20px;
}

.__new__rules img {
    max-width: 186px;
    border-radius: 14px;
}
 {}

.__list__mul__btn {
    display: none;
}

.box-s {
    box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
    border-radius: 8px;
}

table {
  border-collapse: collapse;
}

thead, tbody { display: block; }

tbody {
    height: 100%;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 14px 42px;
}


@media only screen and (max-width: 480px) {
.banner {
    margin-left: 0;
    padding-left: 0;
    padding-right:0;
    background: none;
}

.navbar-brand img {
    margin-top: 0px;
}

.__content__banner {
    padding: 0px !important;
    margin-top: 50px;

     background: #7766ffe6 url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    background-blend-mode: multiply;
}

.__jn__us_tdy {
     text-align: left; 

}

.__rcmd__section__title {
    margin-left: 0;
}

.__check-more__btn {
    display: block;
    background: #4813b1;
    padding: 4px 20px;
    color: #fff !important;
    border-radius: 12px;
    width: 30%;
}

.btn_login {
    margin-left: 0px;
}

.__rcmd__articles .card {
    width: 100% !important;
}

.__rcmd__articles .card {
     margin-right: 0px; 
}

.__jn__us_tdy {
    padding: 34px;
}

.justify-content-center {
    padding: 16px;
}

.__list__mul__btn {
    display: block;
    padding-top: 10px;
}

.__jn__us_tdy p {
    padding: 0;
}

.__new__rules img {
    max-width: 128px;
}

.__audiolist__btn {
    padding: 4px 12px;
    background: #fff;
    border: 1px solid #891dff;
    color: #891dff;
    border-radius: 16px;
}
.__lib__btn, .__recomm__btn {
    padding: 4px 12px;
    background: #891dff;
    color: #fff;
    border-radius: 16px;
}

td, th {
    padding: 14px 25px;
}

}