@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin button($main-color: $color_greenish_blue, $bg-color: $color_white) {
  
  color: $main-color;

  &:hover, &:focus {
    color: $bg-color;
  }
}
