//Fonts
$font_default_regular: 'Lato';

//Sizes
$size_default_font: 1.4rem;
$size_heading_1: 2rem;
$size_heading_2: 2rem;
$size_heading_3: 2rem;
$size_heading_4: 2.2rem;

//Colors
$color_steel_gray: #a2a2a2;  
$color_white: #fff;
$color_orange: #f9d530;
$color_light_white: #ffffff;
$color_dark_blue: #02214b;
$color_light_green: #28de79;
$color_red: #ff6565;
$color_blue: #114d9e;
$color_navy_blue: #131e2d;
$color_light_blue: #0f59bc;
$color_cool_gray: #d8d8d8;
$color_slate_gray: #8c8f93;
$color_black: #000;
$color_beige: #ededed;
$color_light_black: #041e39;
$color_greenish_blue: 0 0 20px 0 rgba(17, 77, 158, 0.7);


